.header {
 background-color: #03be9f;
 color: #fff;
 border-bottom: 1px solid #eaeaea;
 height: 5rem;
 padding: 0 1.5rem;
 display: flex;
 justify-content: space-between;
}

.logo {
    font-family: 'Andale Mono', cursive;
    font-weight: 700;
    margin: 0 auto;
    display: block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.burger {
    font-size: 3.5rem;
}
.nav {
    display: none;
    flex-direction: column;
}

.nav.show {
    font-size: 1.25rem;
    position: absolute;
    top: 4rem;
    padding-right: 2rem;
    right: 0;
    width: 100%;
    background-color: #03be9f;
    opacity: 0.9;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
;
}

.nav li {
    margin-top: 1rem;
    list-style-type: none;
}
.desktopNav {
    display: none;
}

@media (min-width: 768px) {
    .desktopNav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 2rem;

    }
    .desktopNav a {
        margin-left: 1.5rem;
    }
    .nav {
        display: none;
    }
    .burger {
        display: none;
    }
}
